*{margin:0;padding:0;}
body { font: .8em Georgia, "Microsoft YaHei", Serif; background: #fff; color: #777; }
a { color: #D40000; text-decoration: none; }
  a:hover { color: #8F0000; }
p { line-height: 1.7em; margin: 0 0 15px;}

.x { clear: both; }
  

h1 { float: left; font-size: 2em; font-weight: normal; padding: 0 0 25px 10px; margin: 0 0 10px; }
h2 { font-weight: normal; font-size: 2.6em; padding: 0 0 10px; margin: 0 0 15px; }
h3 { font-size: 1.7em; font-weight: normal;  font-family: Georgia, "Microsoft YaHei";color: #777; margin: 0 0 20px; }
h3 a { color: #888; }

	
#content { width: 980px; margin: 40px auto;}

#menu { float: right; margin: 10px 10px 0 0; }
	#menu li { display: inline; list-style: none; }
	#menu li a { float: left; margin: 0 0 0 20px; color: #888; }
	#menu li a:hover { color: #555; }

.post { clear: both; padding: 30px 10px 0px 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 0 0 40px 0px; } /*margin*/ /* 下左*/
	
	.post .details {float: left; width: 800px; }
	.post .details .info { font-size: 1.5em; color: #999; }
	.post .details .info a { color: #777; border-bottom: 1px dotted #999; padding: 3px 1px; }
	.post .body { float: right; width: 618px; padding: 0 0 0 30px; border-left: 0px solid #ddd; }
	
.col { width: 960px;  font-size: 1em; }
	
	.col.last1 { margin: 0 40px 30px 10px; float: left;font-family: Georgia,"Microsoft YaHei" }
	.col h4 { font-size: 1.7em; font-weight: normal; margin: 0 0 20px; font-family: Georgia,"Microsoft YaHei"}	/*download 上pFind下载是这个方案*/
	.col h4 a {text-decoration: underline; }
	.col h5 { font-size: 1.3em; font-weight: normal; margin: 0 0 20px; font-family: Georgia,"Microsoft YaHei"; line-height: 27px;}	/*News上用的是这个字体*/
	.col h6 { font-size: 1.0em; font-weight: normal; margin: 0 0 2px 0px; font-family: Verdana, "Microsoft YaHei"; line-height: 20px; color: #000;}	/*这是为了publication用的，行距小*/
	.col h6 a {font-weight: bold; color: #C30; } /* member上面打广告用*/
	
	.pub{ border-top:1px solid #ddd; } /* 这个表示上面有一个横线 */
	.lab{width: 440px; margin: 0 40px 30px 0; float: left;} /* 这个在links里，分地区用的*/
		
#footer { clear: both; border-top: 1px solid #ddd; padding: 20px 0; font-size: .9em; color: #999; }
